header {
	background: black;
	top: 0;
	left: 0;
	right: 0;
	height: 20px;
	color: white;
	position: fixed;
	padding: 0px 0px 50px 10px;
	font-family: sans-serif;
}

header > h1 {
	font-size: 30px;
}

.lm_root {
	margin-top: 70px;
}

.output {
	padding: 20px;
	color: lightgrey;
}
